.item-divider {
  background-color: gray;
  height: 1px;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.container {
  width: 800px;
}

.divider-containter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container_containter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.item_count {
  font-weight: bold;
  margin-bottom: 30px;
}
.items-list {
  margin-top: 10px;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: #f8f8f8;
}